.container-footer[b-lxu063t9nt] {
    width: 1296px;
    margin: 15px auto 0px;
    overflow: hidden;
    padding: 25px 25px;
    background-color: #293043;
    border-radius: 5px 5px 0 0;
    border-top: 2px solid #9e00b5;
}
