<div class="container-footer">
    <footer class="py-0 my-0">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Acasa</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Proiecte</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Staff</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Despre noi</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contacteaza-ne</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 AnimeAZU I Design by deus21</p>
    </footer>
</div>