.container-anime[b-vay6ny2zay] {
    width: 1296px;
    margin: 0 auto;
    overflow: hidden;
    padding: 25px 25px;
    background-color: #293043;
    border-radius: 5px 5px 0 0;
    border-top: 2px solid #9e00b5;
}

.post-anime[b-vay6ny2zay] {
    width: 1296px;
    margin: 15px auto;
    overflow: hidden;
    padding: 25px 25px;
    background-color: #293043;
    border-radius: 5px 5px 0 0;
    border-top: 2px solid #9e00b5;
}

.titlu-anime[b-vay6ny2zay] {
    color: white;
    font-size: 25px;
    border-bottom: 1px solid #9e00b5;
}

.form-select[b-vay6ny2zay] {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-family: 'Anek Bangla', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #171c2c;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #a61f67;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-next-and-previous[b-vay6ny2zay] {
    width: 1296px;
    margin: 15px auto;
    overflow: hidden;
    padding: 25px 25px;
    background-color: #293043;
    border-radius: 5px 5px 0 0;
    border-top: 2px solid #9e00b5;
}

.btn-next[b-vay6ny2zay] {
    width: 620px;
    height: 35px;
    background: #171c2c;
    color: white;
    border-radius: 10px;
    border: 1px solid #9e00b5;
}

.btn-previous[b-vay6ny2zay] {
    width: 620px;
    height: 35px;
    background: #171c2c;
    color: white;
    border-radius: 10px;
    border: 1px solid #9e00b5;
}
